*{
  font-family: sans-serif;
  margin: 10px;
}

.container{
  display: flex;
 flex-flow: row wrap;
 gap:10px;
 justify-content: center;
}

.children{
  width:300px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  background-color: orangered;
  color: white;
  height:250px;
  
}
h2{
  color:yellow
}
h1{
  text-align: center;
  color: crimson;
}